@inherits LayoutComponentBase

<header>
    <h1>Primitives.BlazorSample</h1>
    <nav>
        <NavLink href="" Match="NavLinkMatch.All">Validate</NavLink>
        <span> | </span>
        <NavLink href="problem">Problem viewer</NavLink>
    </nav>
</header>

<main>
    @Body
</main>
